*{
    box-sizing: border-box;
}
body{
  overflow: hidden;
}
main{
    height: 82.5vh;
    background-image: url("../img/fondo.png");
}

header div{
    background-color: rgb(64, 0, 0);
    height: 15vh;
}
#pantalla{
    width: 130vh;
    height: 80VH;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    padding: 10px;
}
.forma, .base{
    width: 100px;
    height: 100px;
}
.base{
    border-radius: 20px;
}
.circulo{

    border-radius: 100%;
    border: 2px solid #000;
    background-color: #ccc;
}
.cuadrado{

    border: 2px solid #000;
    background-color: #ccc;
}
.rectangulo{
    border: 2px solid #000;
    background-color: #ccc;
    height: 70px;
}

#formas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

#formas button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5a007b;
    border-radius: 10px;
    background-color: #e396ff;
    margin-left: 10px;
    width: 150px;
    height: 150px;
}
.rojo{
    background-color: #f00;
}
.amarillo{
    background-color: #ff0;
}
.azul{
    background-color: #00f;
}

i{
    font-size: 2rem;
}

.botones{
    display: flex;
    align-items: end;
}

#resultado, #hacer{
    width: 150px;
    height: 150px;
    background-color: #e396ff;
}

#hacer{
    align-self: end;
}

#flechas{
    display: flex;
    flex-direction: row;
    
}

#flecha-izq, #flecha-der{
    width: 50px;
    height: 50px;

}
.fps{
    min-width: 5rem;
    font-size: 1.3em;
}